<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>
  

  <div class="box rotating-box" >
    <% listItems.forEach(function(item) { %>
      <form action="/delete" method="post">
      <div class="item">
          <input type="checkbox" value="<%=item._id %>" onChange="this.form.submit()" name="checkBox">
          <p><%= item.name %></p>
          <input type="hidden" name="listName" value="<%=listTitle%>"></input>
      </div>
      </form>
  <% }); %>
  

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%=listTitle %>">+</button>
      </form>
  </div>

  <div>
    <div class="box  rotating-box" id="heading">
      <h2>Create a New Task</h2>
      <p>Want to add a new task quickly? Simply edit the URL by appending a task name to it!</p>
      <p>For example: todolist-azag.onrender.com/NEWTASK</p>
      <p>If the task doesn't already exist, it will be created for you.</p>
      
    </div>
    <div class="box  rotating-box" id="heading">
      <h2>Warning</h2>
      <p>All items are connected to a database </p>
      
    </div>
  </div>

<%- include("footer") -%>
